@charset "utf-8";
/*======================================
				DATE:2010-05-15
=======================================*/
body{
	font-family: 'IBM Plex Sans';
	font-size:16px;
	text-align:center;
	
}

.readmore {
    color:black;
    text-decoration:underline;
}

.post-link{
    color:black;
}

.post-meta {
    font-size:12px;
}

/**
 * Pagination Style
 */

.pager {
  margin-bottom: 60px;
  text-align: center;
}
.pager ul { display: block; margin: 20px 0; }
.pager  li{list-style: none;}
.pager  li.previous a{float:left;}
.pager  li.next a{float:right;}
.pager  li.disabled {display:none;}



/**
 * Tags and Categories Style
 */

.tags-box  li {
    list-style: none;
    font-weight: bold;
    margin-top:10px;
}
.tags-box  .size{
    font-size: 0.7em; font-weight: bold; vertical-align: super;  
}


/*time style of tages and categories*/

time{
  margin-left: 15px;
  font-style: italic;
}


/*======= Common Styles ============*/

img,fieldset{border:0}
.hide{display:none;	visibility:hidden}
a{text-decoration:none; outline:none; color:#999}
a:hover{text-decoration:underline}
ul{list-style:none}



h3{font-size:16px; padding:0 0 8px 0;}
/*h1{display:block; padding:0 0 8px 0;}*/
h1 {
	font-family:'Bebas Neue', sans-serif;
    font-weight: normal;
}

#topbar{overflow:hidden;position:absolute;height:3px;left:0;right:0;}
#topbar div{ position:absolute; overflow:hidden; width:300px; height:3px; }
#topbar span{ display:block; float:left; width:100px; height:3px; background:#000000;}
#topbar div.bar1{ left:0px;}
#topbar div.bar2{ left:300px;}
#topbar div.bar3{ left:600px;}
#topbar div.bar4{ left:900px;}
#topbar div.bar5{ left:1200px;}
#topbar div.bar6{ left:1500px;}
#topbar div.bar7{ left:1800px;}
#topbar div.bar8{ left:2100px;}
#topbar div.bar9{ left:2400px;}
#topbar div.bar10{ left:2700px;}
#topbar span.block1{ opacity:1.0; filter:alpha(opacity=100)}
#topbar span.block2{ opacity:0.6; filter:alpha(opacity=60)}
#topbar span.block3{ opacity:0.3; filter:alpha(opacity=30)}


#wrap{
	width:882px;
	margin:0 auto;
	text-align:left;
	padding-bottom:20px;
}

/*  ===============================BUTTONS================================== */

a.mainbutton{font-family:'Bebas Neue', sans-serif; display:block; width:170px; height:20px; background:#666; text-decoration:none; color:#fff; font-weight:bold; text-align:center; padding:2px 0 0 0; float:left; position:relative;}
a.mainbutton:hover{background:#272525; text-decoration:none;}

a.backbutton{font-family:'Bebas Neue', sans-serif; display:block; width:170px; height:20px; background:#272525; text-decoration:none; color:#fff; font-weight:bold; text-align:center; padding:2px 0 0 0; float:left; margin:0 5px 0 0;}

a.backbutton:hover{background:#666; text-decoration:none;}


/*========header==========*/
.header{
	width:882px;
	height:108px;/*129*/
	padding:21px 0 0;
}
.header p{
	width:100%;
	overflow:hidden;
	font-size:18px;
	line-height:16px;
	font-family:'Bebas Neue', sans-serif;
}
.header p a{color:#999}
.header p span{float:right; color:#999}
.header p span a{ color:#999; margin:0 5px 0 5px;}
.header p a:hover{color:#333}
.header h1{
	padding-top:28px;
	font-size:40px;
	line-height:42px;
	font-family:'Bebas Neue', sans-serif;
	color:#333
}
.header .logo{
	padding-top:28px;
}


/*========Main Area==========*/

.main_cont{
	width:882px;
	overflow:hidden;
}
.main_left{
	width:200px;
	float:left;
	border-top:1px solid #AAB7BF;
}
.main_rgt{
	width:651px;
	float:right;
}
ul.main_nav{
	width:100%;
	padding:5px 0 15px 0;
	overflow:hidden;
}
ul.main_nav li{
	width:100%;
	float:left;
	font-size:36px;
	line-height:42px;
	font-family:'Bebas Neue', sans-serif;
}

.logo{
	width:100%;
	float:left;
	font-size:43px;
	/*line-height:42px;*/
	font-family:'Bebas Neue', sans-serif;
}

.logo a:HOVER
{
	text-decoration: none;
}

ul.main_nav li a{color:#333}
ul.main_nav li a:hover{text-decoration:none; color:#999}

ul.main_nav ul{ margin:10px 0 10px 0; float:left; width:100%;}
ul.main_nav ul strong{font-size:16px;}
ul.main_nav ul li{font-family: Arial, Helvetica, sans-serif; display:block; padding:2px 0 2px 0; font-size:16px; line-height:normal;}
ul.main_nav ul li a{color:#999;}
ul.main_nav ul li a:hover{color:#000;}

/*========Footer==========*/

.footer{
	width:882px;
	overflow:hidden;
	border-bottom:1px solid #AAB7BF
}
.footer_left{
	width:203px;
	padding:22px 0 14px;
	float:left;
	border-top:1px solid #AAB7BF;
	font-family:'Bebas Neue', sans-serif;
	border-top:1px solid #AAB7BF; color:#999;
}
.footer_left span{
	display:block;
	font-size:16px;
	line-height:14px;
}
.footer_rgt{
	width:651px;
	float:right;
}
.footer_rgt h3{
	width:100%;
	padding-top:22px;
	overflow:hidden;
	font-weight:normal;
	padding-bottom: 30px;
	font-size:16px;
	color:#999;
}
.footer_rgt h3 span{
	float:left;
	font-size:24px;
	line-height:26px;
	font-family:'CalibriRegular', sans-serif;
	text-transform:uppercase;
	color:#999;
}
.footer_rgt h3 label{
	float:right;
	font-size:16px;
	line-height:16px;
	font-family:'Bebas Neue', sans-serif;
}

/*-------pg-inner---------*/
ul.rgt_list{
	width:651px;
	overflow:hidden;
}
ul.rgt_list li{
	width:185px;
	padding:0 47px 30px 0;
	float:left;
}
ul.rgt_list li.last{padding-right:0}
ul.rgt_list li a{display:block}
ul.rgt_list li h4{
	padding:10px 0 0 0;
	font-size:16px;
	font-family:'EnigmaticUnicodRegula', sans-serif;
	font-weight:normal;
	color:#999;
	margin:0;
	display:block;
}
p.pagination{
	width:100%;
	padding-top:15px;
	margin-bottom:-2px;
	text-align:right;
	color:#282B26;
}
p.pagination a{color:#282B26}

/*  ===============================BASEBAND - COPYRIGHT LINKS ETC================================== */

#baseband{padding:20px 0 0 0;height:60px;color:#999;font-size:13px;}
#baseband strong{
	color:#9a9a9a;
	font-weight:bold;
}
#baseband a{color:#999; text-decoration:none;}
#baseband a:hover{
	text-decoration:underline;
	color:#000;
}



/*  ===============================SEO LINKS AREA================================== */
#seo{float:right;position:relative; text-align:right; margin-top:-8px;}
#seo img{margin-left:5px;}
#seo .powered{clear:right; margin-top:8px;}


/*  ===============================   BLOG PAGE  ================================== */

#blog{position:relative;padding-bottom:20px;}
#blog .item {
	position:relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}
#blog .date {font-size: 17px; color:#999;}
#blog a.title {word-spacing: 0.2em; font-family:'Bebas Neue', sans-serif; font-size: 20px; text-decoration:none;display: block;padding-bottom: 8px;padding-top: 2px; color:#000;}
#blog .details {margin-top: 10px; padding-bottom: 10px; }
#blog .details a{ color:#999; text-decoration:none; }
#blog .item a:hover{text-decoration:underline;}
#blog .comments{margin-top:20px;position:relative;padding-bottom: 8px;}
#blog .comments .item{margin-top:8px;position:relative;padding-bottom: 8px;border-bottom-width: 1px solid #ccc;}


/*  ===============================   ON SCREEN CART  ================================== */
a.cart{
	color:#fff;
}

/* =================================== FORM PAGE============================= */

#formpage{position:relative;}

/*  ===============================   FORMS  ================================== */
.formarea {background-color: #e5e3e3;margin: 15px 0 15px 0;padding: 10px;}
.form{background:#fff;font-size: 13px;margin: 0 0 10px 0;padding: 10px 15px 25px 15px;}
.form a{color:#999;}
.form a:hover{color:#fff;}
.formtext {font-size: 12px;font-weight: bold;text-align: right;float: left;width: 150px; margin-bottom: 8px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 0;
	clear: left;
	position:relative;}
.formsfixed {font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #666666;width: 260px; height: 19px;  position: relative;
	float: left;
	margin-bottom: 8px;
	line-height: 29px;}
.formsmulti {font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #666666;width: 260px;margin-bottom: 9px;}
.formicon { margin-left: 7px;
	margin-bottom: 8px;}
.multiicon {margin-bottom: 3px;margin-left: 7px;}



/*  ===============================ACCOUNT AREA================================== */

#account{position:relative; padding-bottom:30px; }
#account .row{position:relative; display:block; overflow:auto; margin-top:20px;}
#account .panel{float:left; position:relative; width:200px; background:#f6f5f5; margin:0 20px 0 0; padding:15px 35px 25px 35px;}
#account .panel a.mainbutton:hover{background:#000;}
#account .last{margin-right:0px;}
#account .formtext{text-align:left; width:150px; padding:0px; margin:0px;}

#account .buttons{padding:5px 0 5px 0; position:relative; height:30px;}
#account .buttons .mainbutton{float:right; position:relative;}

#account .formsfixed{margin:0 0 3px 0;}

/*  ===============================TABLES================================== */
.table{margin:10px 0 20px 0;}
.tabhead{background:#333; padding:3px 0 3px 5px; color:#fff; display:block; overflow:hidden; font-weight:bold; position:relative;}
.tabrow{ padding:5px 0 3px 5px;display:block; overflow:hidden; position:relative;}
.tabrowshade{background:#f9f9f9; padding:5px 0 3px 5px;display:block; overflow:hidden; position:relative;}
.cell01{width:100px; float:left; position:relative;}
.cell02{width:240px; float:left; position:relative;}
a.cell02{color:#000;}
.cell03{width:40px; float:left; position:relative; text-align:center;}
.cell03 input{width:40px; font-size:11px; color:#666;}
.cellright{width:75px; float:right; position:relative; text-align:center;}
.cellimg{width:65px; float:left; position:relative;}
.cellaction{width:50px; float:right; position:relative; text-align:center;}
.totals{padding:8px 0 0 0; display:block; overflow:hidden;}
.celltotal{width:150px; float:right; position:relative; color:#000; text-align:right; font-size:14px;}
.celltotal strong{color:#000; font-weight:bold; font-size:16px;}

.cellhalf{width:320px; float:left; position:relative;}
.cellhalf strong{color:#000; font-size:18px;}
.cellhalf input{float:left; margin:0 5px 0 0;}

.cellform {width:320px; float:left; position:relative; padding:0 0 10px 0;}
.cellform .formtext{text-align:left; width:105px;}
.cellform .formsfixed{width:190px;}

.cell04{width:160px; float:left; position:relative;}
.cell05{width:100px; float:left; position:relative; text-align:center;}

.cellcolumn{width:280px; float:left; position:relative;}

/*  ===============================PAGES================================== */

.pages{position:relative; padding: 10px 0 0 0; display:block; overflow:hidden; }
.pages a{display:block; border:1px solid #ccc; width:20px; height:18px; text-align:center; color:#999; float:left; margin-right:4px; text-decoration:none; font-weight:bold; padding-top:2px;}
.pages a:hover{color:#000;}
.pages .on{border:1px solid #000; color:#000;}

.display{float:right; position:relative; padding:2px 0 0 0;}
.display select{font-size:11px; color:#666; margin-left:4px; width:auto; height:auto;}

/*  ===============================SHOPPING CART================================== */
#cartscreen{position:relative; padding-bottom:20px;}
#cartscreen .buttons{padding:5px 0 5px 0; position:relative; height:30px;}
#cartscreen .buttons .mainbutton{float:right; position:relative;}

#cartscreen .steps{height:57px; position:relative; border:1px solid #ccc; padding:10px; margin:0 0 10px 0;}
#cartscreen .stepicon{float:left; position:relative; margin:0 35px 0 0;}
#cartscreen .loader{text-align:center; padding-top:40px; padding-bottom:90px;}

/*  ===============================RELATED ITEMS PAGE================================== */

#related{margin:0 0 10px 0; padding:15px; background:#f6f5f5; font-size:20px; font-weight:bold;}
#related .mainbutton{float:right; font-size:13px;}


/*  ===============================DETAILS PAGE================================== */

#details{position:relative; display:block; overflow:hidden; font-size:12px; margin:10px 0 0 0;}
#details .images{float:left; position:relative; width:337px;}
#details .images .large{/*border:1px solid #c3c1c1;*/ text-align:center; width:328px;}
#details .images .small{border:1px solid #c3c1c1; width:75px; text-align:center; float:left; margin:4px 7px 0 0;}
#details .content{margin-left:360px; position:relative;}
#details .options{background:#f6f5f5; padding:15px 20px 48px 20px; margin:0 0 20px 0; position:relative; }
#details .optionshead{font-family:'Bebas Neue', sans-serif; display:block; color:#666; font-size:20px; font-weight:bold; padding:0 0 34px 0; margin:-5px 0 0 0;}
#details .price{color:#000; font-size:30px; font-weight:bold; float:right; position:relative; margin-top:-4px;}
#details .formtext{clear: none; float:left; position:relative; width:82px; text-align:left; padding:0; font-weight:normal;}
#details select{width:160px; font-size:11px; color:#666; height:auto; margin:0 0 5px 0;}
#details input{font-size:11px; color:#666; width:40px; height:auto;}
#details .oldprice{float:right; clear:right; font-size:12px; color:#999; position:relative;}
#details .mainbutton{position:absolute; right:20px; bottom:15px;}

/*  ===============================BRANDS================================== */
.introtext {
	padding-bottom: 15px;
}
.brandpic {
	float: right;
	margin-left: 50px;
	position: relative;
}

/*  ===============================    TREEVIEW   ================================== */

#treeview{padding:3px 0 8px 0; position:relative; color:#999; font-size:11px;}
#treeview a{color:#666; text-decoration:none;}
#treeview a:hover{color:#000;}
